
:host {
    position: relative;
    display: block;
}

.arrows {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    .arrow {
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%;
        user-select: none;
    }
}
